.tooltip {
    position: absolute;
    top: 10px;
    right: 10px;
    padding: 10px;
    border-radius: 8px;
    max-width: 200px;
    z-index: 10;
  }
  
  .tooltipTitle {
    font-size: 16px;
    font-weight: bold;
    margin-bottom: 5px;
  }
  
  .tooltipId {
    font-size: 12px;
    color: var(--muted-foreground);
  }
  
  